body {
  background-color: #ffbc42;
  margin: 0;
}

@media (max-width: 768px) {
  main img {
    width: 80px !important;
    height: 80px !important;
  }
}

header {
  background: #0496ff;
  padding: 15px;
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

header img {
  width: 45px;
  height: auto;
}

#diceImgs img {
  width: 60px;
  height: 60px;
  border: none;
  padding: 1.2rem;
}

#diceImgs img:hover {
  cursor: pointer;
}

#diceImgs {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: table;
}

#amountOfThrows {
  font-family: "Fira Sans";
  color: #242038;
  font-size: 1.5rem;
  text-align: center;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 3rem;
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
  font-family: "Fira Sans";
  font-size: 1.2rem;
  color: #242038;
  background-color: #0496ff;
}

button:hover {
  background-color: #006ba6;
  cursor: pointer;
}

.heldDice {
}
